* {
    box-sizing: border-box;
}
:root {
    --primary-color: #F0F8FF;
    --secondary-color:#E8E8E8;
}
.accueil ,.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1584271369250-c2401da8d8e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGJhbmtpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-repeat: no-repeat;
}
.homepage{
    height: 85vh;
}
.accueil{
    height: 450px;
}

#main{
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}
.form-group label{
    color: #777;
}


#text-animation {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    position: relative;
    animation-name: text-anim;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes text-anim {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(-50px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-100px);
        opacity: 1;
    }
}
#navbarNav{
    font-weight: bold;
}

.input{
    height: 30px;
    width: 100px;
    font-size: 16px;
    padding: 5px;
}